.MenuItem{
    -fx-border-color: #545454;
    -fx-border-width: 1px;
    -fx-background-color: WHITE;
    -fx-border-radius: 70px;
    -fx-background-radius: 70px;
}

.active-button {
    -fx-background-color: #DEEFFF;
 }
.buttonCategory{
    -fx-background-color: transparent;
}
.buttonCategory:hover{
    -fx-background-color: #e0e0e0;
}

.MenuItem:hover{-fx-background-color: #D6D6D6;}
.slideItem{-fx-background-color: #9FCDFF;}
.slideItem:hover{-fx-background-color:#DEEFFF;}
.slideItem1{-fx-background-color:#DEEFFF;}

.CancelBtn{-fx-background-color: #ff676a;}
.CancelBtn:hover{-fx-background-color: #EFA5A7;}
.btn:hover{-fx-opacity:70%;}
.btn {-fx-background-color:#DEEFFF; }
.btn:selected{-fx-background-color: #9FCDFF;}
.btn_history{-fx-background-color:#9FCDFF;}
.btn_history:hover{-fx-opacity: 70%;}
.btn_history:selected{-fx-background-color:#63A7F1; }

.check-box .box {
    -fx-background-color: #DEEFFF;
    -fx-border-radius: 0px;
}
.check-box:selected .mark {-fx-background-color: #545454;}
.check-box:selected .box {-fx-background-color: white;}

.tab-pane .tab-header-area .tab-header-background {-fx-background-color: white;}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-pref-height: 50px;
}
.tab-pane .tab {-fx-background-color: #63A7F1;}
.tab-pane .tab:selected{-fx-background-color: #DEEFFF;}
.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #545454;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0px 3px 0px 3px;
}

.choice-box {
    -fx-background-color: #DEEFFF;
    -fx-mark-color: #545454;
}
.choice-box .context-menu {
    -fx-background-color: #EFF7FF;
    -fx-pref-width: 300px ;
}
.choice-box .menu-item:focused { -fx-background-color: #9FCDFF;}
.choice-box .menu-item > .label { -fx-text-fill: #545454;}
.choice-box .menu-item:focused > .label { -fx-text-fill: white;}

.calendar-grid {-fx-background-color: #DEEFFF;}

.table-view{-fx-background-color: transparent;}
.table-view .column-header-background{-fx-background-color: #9FCDFF;}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #545454;
    -fx-font-family: "Times New Roman";
}
.table-view .column-header {-fx-background-color: transparent;}
.table-view .table-cell{
    -fx-text-fill: #545454;
    -fx-font-family: "Times New Roman";
}
.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #63A7F1;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #9FCDFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {-fx-background-color: transparent;}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .de,crement-button {-fx-opacity: 0;}
.table-view .column-header {-fx-font-size: 18px}


.vBoxItem {
    -fx-border-color: #545454;
    -fx-border-width: 1px;
    -fx-background-color: WHITE;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}
.vBoxItemCategory{
    -fx-border-color: #545454;
    -fx-border-width: 1px;
    -fx-background-color: WHITE;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.buttonItemCategory{
    -fx-border-color: #545454;
    -fx-border-width: 1px;
    -fx-background-color: WHITE;
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
}
.buttonItemCategory:hover{
    -fx-background-color: #b7b7b7;
}

.category-add{
    -fx-background-color: #4f4c4c;
    -fx-text-fill: White;
}
.category-add:hover{-fx-background-color: #858181;}

.category-delete{
    -fx-background-color: #ff676a;;
    -fx-text-fill: White;
}
.category-delete:hover{-fx-background-color: #EFA5A7;}

.chart{
    -fx-font-family: "Times New Roman";
    -fx-fill: white;
    -fx-background-color: none;
    -fx-border-color: none;
}
.chart-pie-label-line {
    -fx-stroke: #545454;
    -fx-fill: #545454;
}

.chart-pie-label {
    -fx-fill: #545454;
    -fx-font-size: 1em;
}
.chart-legend {
    -fx-background-color: #F6F1F1;
    -fx-stroke: #545454;
}
.default-color0.chart-pie { -fx-pie-color: #7ED957; }
.default-color1.chart-pie { -fx-pie-color: #FFDE59; }
.default-color2.chart-pie { -fx-pie-color: #FF914D; }
.default-color3.chart-pie { -fx-pie-color: #80BDFF; }
.default-color4.chart-pie { -fx-pie-color: #F4B0E1; }

* {
    -fx-primary-color: #9FCDFF;
    -fx-secondary-color: #DEEFFF;
    -fx-light-grey-color: #d1d1d1;

    -fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
}
.date-picker .cell {
    -fx-background-color: white;
}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
}
.date-picker-popup  {
    -fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
}
.text-area {
    text-area-background: #DEEFFF ;
}
.text-area .content {
    -fx-background-color: text-area-background ;
}